<fieldset class="fieldset">
  <legend>Tune Studio</legend>
  <div style="float: right; padding: 10px 5px 5px 5px;">
    
	</div>
  <div style="padding-top: 5px;">
   Welcome to Tune Studio.
   <br /><br />
   For help and more documentation, visit
   <br />
   <ul>
     <li><a href="http://code.google.com/p/tunestudio/">Wiki</a></li>
   </ul>
   <br />
   TuneStudio is Open Source. Paid support is available by FKB Consulting.
  </div>
</fieldset>

<br />

<fieldset class="fieldset">
  <legend>Contribute to our code base</legend>
    <br/>
      http://tunestudio.googlecode.com/svn/trunk/
    <br/>
</fieldset>

<br />

<% content_for(:page_title) do %>
  <% @page_title = "Welcome to TuneStudio" %>
  <h2>Welcome to TuneStudio</h2>
<% end %>
