<h1>Editing image</h1>


<% form_tag({:action => 'update', :id => @image}, :multipart=>true ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>
